/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2017, 3:23:50 PM
    Author     : yakubov
*/
/*body{
    max-width: 1200px;
    margin: 0 auto;
}*/

.row {
    /*margin-bottom: 1rem;*/
}
.row .row {
    /*margin-top: 1rem;*/
    /*margin-bottom: 0;*/
}
[class*="col-"] {
    /*  padding-top: 1rem;
      padding-bottom: 1rem; 
      background-color: rgba(86,61,124,.15);
      border: 1px solid rgba(86,61,124,.2); */
}


[class*="row"] {
    /*  padding-top: 1rem;
      padding-bottom: 1rem; 
      background-color: rgba(86,61,124,.15);
      border: 1px solid rgba(86,61,124,.2); */
}

.my_checkbox {
    width:1.5rem;
    height:1.5rem;
}

.list-group-item {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.dropdown-menu {
    min-width: 0px !important;    
    width: 110%; 
}


.baserow:hover{cursor:pointer;}

.my_checkbox:hover
{
    cursor:default;
}

table tbody tr:nth-child(4n+1),
table tbody tr:nth-child(4n+2)
{
    background: #EBECE9
}

table tbody tr:nth-child(4n+3),
table tbody tr:nth-child(4n+4)
{
    background: white
}


.table th, .table td {
    border: none ;
}

.table thead td,.table thead th {
    border-bottom : solid thin;
    font-size: 0.8rem;
}

.table {
    font-size: 0.9rem;
}


.card {
    overflow:auto ;
    max-height: 75vh;
}

.newjobform.list-group-item {
    padding: 5px 15px; /* adjust here */
    margin-bottom: -1px;
    border: 1.5px #ddd;
    border-style: solid none solid none;
    line-height: 1.5em /* set to text height */
}

.newjobform.list-group-item.active {
    background-color: #eee;
    color: black;
}

.modal-lg{
    max-width:90%;
    width:90%;
}


.arrow-cursor:hover {
    cursor:default;
} 


.custom-file-control::after {
  content: "Select file...";
}
.custom-file-control::before {
  content: "Browse";
}
