<!DOCTYPE html>

<html>
    <head>
        <title>dComp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>

        <header class="navcontainer">
 
       </header>


        <main class="maincontainer">
        </main>  
        
<%=htmlWebpackPlugin.files.webpackManifest%>

    </body>
</html>
