<div class="card mt-1">
    <div class="card-block">
        <form>

            <div class="d-flex justify-content-between flex-row mb-3">
                <h5 class="align-self-center text-info">Job filter</h5>
                <button class="btn btn-info btn-sm" id="updatFilter" type="submit"
                        style="font-size : 0.75rem;">
                    Update view
                </button>
            </div>

            <div class="form-group row mb-1">
                <label class="col-sm-2 col-form-label form-control-sm">Period</label>

                <div class="col-sm-10 form-inline mb-1">
                    <div class="form-check form-control-sm ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" 
                                   <% if (from!="") { %> checked <% } %>
                                   name="optionsDate" id="filterFromTo" 
                                   value="periodFromTo">
                                   From                            
                        </label>

                    </div>
                    <input class="form-control form-control-sm col-sm-3 ml-sm-1 mr-sm-1" 
                           type="text" value="<%= from %>" id="from" readonly>
                    <label class="form-control-sm" for="to" >To</label>
                    <input class="form-control form-control-sm col-sm-3 ml-sm-1 mr-sm-1" 
                           type="text" value="<%= to %>" id="to" readonly>

                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-sm-10 form-inline offset-sm-2">
                    <div class="form-check form-control-sm ">
                        <label class="form-check-label">
                            <input class="form-check-input " type="radio" 
                                   <% if (from=="") { %> checked <% } %>
                                   name="optionsDate" id="filterLast" 
                                   value="periodLast">
                                   Last
                        </label>
                    </div>

                    <select class="custom-select form-control-sm" id="last">
                        <option <% if (last=="1") { %> selected <% } %> value="1">1</option>
                        <option <% if (last=="7") { %> selected <% } %> value="7">7</option>
                        <option <% if (last=="30") { %> selected <% } %> value="30">30</option>
                        <option <% if (last=="60") { %> selected <% } %> value="60">60</option>
                        <option <% if (last=="180") { %> selected <% } %> value="180">180</option>
                    </select>                    
                    <label class="form-control-sm" for="last">days</label>
                </div>
            </div>

            <div class="form-group row mb-1">    
                <label class="col-sm-2 col-form-label form-control-sm">Status</label>

                <div class="col-sm-10 form-inline">
                    <div class="form-check form-control-sm">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" 
                                   <% if (!finishedOnly && !notFinishedOnly) { %> checked <% } %>
                                   name="optionsStatus" id="filterStatusAll" 
                                   value="statusAll" checked>
                                   All
                        </label>
                    </div>

                    <div class="form-check form-control-sm">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" 
                                   <% if (finishedOnly) { %> checked <% } %>
                                   name="optionsStatus" id="filterStatusFinished" 
                                   value="statusFinished">
                                   Finished
                        </label>
                    </div>
                    <div class="form-check form-control-sm">
                        <label class="form-check-label">
                            <input class="form-check-input " type="radio" 
                                   <% if (notFinishedOnly) { %> checked <% } %>                                   
                                   name="optionsStatus" id="filterStatusNotFinished" 
                                   value="statusNotFinished">
                                   Unfinished
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group row mb-0">
                <label for="filterKeyword" class="col-sm-2 col-form-label form-control-sm">Keyword</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" 
                           id="filterKeyword" value="<%=keyword%>">
                </div>
            </div>        
        </form>
    </div>

</div>

