<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Submit New Job</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-pills flex-column" role="tablist" id="stepsList">
                            <li class="nav-item">
                                <button type="button" 
                                        class="newjobform list-group-item 
                                        list-group-item-action active" 
                                        data-toggle="tab" 
                                        role="tab" 
                                        data-target="#tab1" >
                                    Application
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" 
                                        class="newjobform list-group-item
                                        list-group-item-action" 
                                        data-toggle="tab" 
                                        role="tab" 
                                        data-target="#tab2" >
                                    Data
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" 
                                        class="newjobform list-group-item
                                        list-group-item-action" 
                                        data-toggle="tab" 
                                        role="tab" 
                                        data-target="#tab3" >
                                    Resources
                                </button>
                            </li>

                        </ul>


                    </div>
                    <div class="col-md-8 mt-2 mt-md-0">

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1" role="tabpanel">
                                <%= applicationForm %>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel">
                                <%= dataForm %>
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel">
                                <%= resourcesForm %>
                            </div>
                        </div>
                    </div>

                </div>

                <footer class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-sm btn-success" 
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <div>
                        <button type="button" id="newJobPrev" class="btn btn-sm btn-success">Prev</button>
                        <button type="button" id="newJobNext" class="btn btn-sm btn-success">Next</button>

                    </div>
                    <button type="submit" id="newJobSubmit" class="btn btn-sm btn-success">Submit</button>   
                </footer>

            </div>
        </div>
    </div>
</div>


